{% extends 'cmuxovik/base.html' %}
{% load crispy_forms_tags i18n %}
{% block content %}
<div class="content-section">
    <form method="post" id="login-form">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="mb-4 border-bottom">{% trans 'Log In' %}</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-info" type="submit">{% trans 'Log In' %}</button>
            <small class="text-muted ml-2">
                <a id="reset-password" href="{% url 'password_reset' %}">{% trans 'Forgot password?' %}</a>
            </small>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            {% trans "Don't have an account?" %} <a id="register-no-account" href="{% url 'register' %}"
                class="ml-2">{% trans 'Sign up here' %}</a>
        </small>
    </div>
</div>
{% endblock %}