{% extends 'cmuxovik/base.html' %}
{% load crispy_forms_tags i18n %}
{% block content %}
<div class="content-section">
    <form method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="mb-4 border-bottom">{% trans 'Join today!' %}</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-info" type="submit">{% trans 'Sign Up' %}</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">
            {% trans 'Already have an account?' %} <a href="{% url 'login' %}" class="ml-2">{% trans 'Log in' %}</a>
        </small>
    </div>
</div>
{% endblock %}