{% load static i18n %}

<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'cmuxovik/main.css' %}">
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
    {% block title %}
    {% if title %}
    <title>{% trans "Cmuxovik" %} - {{ title }}</title>
    {% else %}
    <title>{% trans "Cmuxovik" %}</title>
    {% endif %}
    {% endblock %}
</head>

<body>
    <header class="site-header">
        <nav class="navbar navbar-dark bg-dark navbar-expand-md fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" href="{% url 'cmuxovik-home' %}">{% trans 'Cmuxovik' %}</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        {% if user.is_authenticated %}
                        <a class="nav-item nav-link" href="{% url 'cmux-create' %}">{% trans 'New cmux' %}</a>
                        {% endif %}
                        <!-- Search -->
                        <form class="form-inline" action="{{ request.get_full_path }}" method="get">
                            <input class="form-control" id="search" type="search" placeholder="{% trans 'Search' %}"
                                name="search_text" value="{{ request.GET.search_text }}" aria-label="Search">
                            <input type="submit" value="{% trans 'Search' %}" class="btn btn-outline-secondary" />
                        </form>
                    </div>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% trans 'Language' %}
                            </a>
                            <ul class='dropdown-menu' role='menu'>
                                <li>
                                    <div class="dropdown-item">
                                        <form name="languageRu" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                                            <input name="next" type="hidden" value="{{ redirect_to }}" />
                                            <input name="language" type="hidden" value="ru" />
                                            <a href="javascript:document.languageRu.submit()"><img width='16' height='12' src="{% static 'cmuxovik/icons/russian.png' %}" alt='ru' /> Русский</a>
                                        </form>  
                                    </div>                    
                                </li>
                                <li>
                                    <div class="dropdown-item">
                                        <form name="languageEn" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                                            <input name="next" type="hidden" value="{{ redirect_to }}" />
                                            <input name="language" type="hidden" value="en" />
                                            <a href="javascript:document.languageEn.submit()"><img width='16' height='12' src="{% static 'cmuxovik/icons/english.png' %}" alt='en' /> English</a>
                                        </form> 
                                    </div>
                                </li>
                            </ul>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% trans 'Actions' %}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="{% url 'profile' %}">{% trans 'Profile' %}</a>
                                {% if user.author.is_moderator %}
                                    <a class="dropdown-item" href="{% url 'unapproved-cmuxes' %}">{% trans 'Unapproved cmuxes' %}</a>
                                    {% if user.is_superuser %}
                                        <a class="dropdown-item" href="{% url 'admin:index' %}">{% trans 'Admin' %}</a>
                                    {% endif %}
                                {% endif %}
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'logout' %}">{% trans 'Logout' %}</a>
                            </div>
                        </li>
                        {% else %}
                        <a class="nav-item nav-link" href="{% url 'login' %}">{% trans 'Login' %}</a>
                        <a class="nav-item nav-link" href="{% url 'register' %}">{% trans 'Register' %}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% block content %}{% endblock %}
            </div>
            <div class="col-md-4">
                {% block sidebar %}{% endblock %}
            </div>
        </div>
    </main>

    {% block footer %}{% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    {% block scripts %}{% endblock %}
</body>

</html>