{% load ratings i18n %}
<div class="card shadow bg-white rounded">
    <div class="card-header">
        <div class="d-flex">
            <div class="mr-auto p-2">
                <img class="rounded-circle article-img" src="{{ cmux.author.avatar.url }}">
                <a class="mr-2"
                    href="{% url 'user-cmuxes' cmux.author.user.username %}">{{ cmux.author.user.username }}</a>
            </div>
            <div class="p-2">
                <div class="p-2">
                    <small class="text-muted">
                        {{ cmux.created_at }}
                    </small>
                </div>
                <div class="p-2">
                    {% ratings cmux icon_width=15 icon_height=15%}
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <p class="card-text">{{ cmux.text|linebreaksbr }}</p>
        {% if cmux.tags %}
        {% for tag in cmux.tags.all %}
        <a class="badge badge-secondary" href="{% url 'tag-cmuxes' tag.id %}">{{ tag }}</a>
        {% endfor %}
        {% endif %}
    </div>
    {% if not cmux.is_approved %}
    <div class="card-footer">
        <div class="d-flex">
            <div class="mr-auto p-2">
                {% if user.author.is_moderator %}
                <a class="btn btn-success btn-sm mr-1" href="{% url 'cmux-approve' cmux.id %}">{% trans 'Approve' %}</a>
                {% endif %}
                {% if cmux.author == user.author or user.author.is_moderator %}
                <a class="btn btn-outline-secondary btn-sm mr-1"
                    href="{% url 'cmux-update' cmux.id %}">{% trans 'Update' %}</a>
                <a class="btn btn-outline-danger btn-sm mr-1"
                    href="{% url 'cmux-delete' cmux.id %}">{% trans 'Delete' %}</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
</div>