{% extends 'cmuxovik/base.html' %}

{% block content %}
{% for cmux in cmuxes %}
<div class="card mt-2">
    <div class="card-header">
        <img class="rounded-circle article-img" src="{{ cmux.author.avatar.url }}">
        {{ cmux.author.user.username }}
    </div>
    <div class="card-body">
        <p class="card-text">{{ cmux.text|linebreaksbr }}</p>
    </div>
    <div class="card-footer">
        <div class="d-flex">
            <div class="mr-auto p-2">
                <small class="text-muted">
                    {{ cmux.created_at }}
                </small>
            </div>
            <div class="p-2">
                {% if cmux.author == user.author %}
                <a class="btn btn-secondary btn-sm" href="{% url 'cmux-update' cmux.id %}">Update</a>
                <a class="btn btn-outline-danger btn-sm" href="{% url 'cmux-delete' cmux.id %}">Delete</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}