{% extends 'cmuxovik/base.html' %}
{% load ratings i18n %}

{% block title %}
{% if title %}
<title>{% trans "Cmuxovik" %} - {{ title }}</title>
{% else %}
<title>{% trans "Cmuxovik" %}</title>
{% endif %}
{% endblock %}


{% block content %}
{% for cmux in cmuxes %}
<div class="card shadow bg-white rounded">
    <div class="card-header">
        <div class="d-flex">
            <div class="mr-auto p-2">
                <img class="rounded-circle article-img" src="{{ cmux.author.avatar.url }}">
                <a class="mr-2"
                    href="{% url 'user-cmuxes' cmux.author.user.username %}">{{ cmux.author.user.username }}</a>
            </div>
            <div class="p-2">
                <div class="p-2">
                    <small class="text-muted">
                        {{ cmux.created_at }}
                    </small>
                </div>
                <div class="p-2">
                    {% ratings cmux icon_width=15 icon_height=15%}
                </div>
            </div>
        </div>
    </div>
    <div class="card-body">
        <p class="card-text">{{ cmux.text|linebreaksbr }}</p>
        {% if cmux.tags %}
        {% for tag in cmux.tags.all %}
        <a class="badge badge-secondary" href="{% url 'tag-cmuxes' tag.id %}">{{ tag }}</a>
        {% endfor %}
        {% endif %}
    </div>
    {% if not cmux.is_approved %}
    <div class="card-footer">
        <div class="d-flex">
            <div class="mr-auto p-2">
                {% if user.author.is_moderator %}
                <a class="btn btn-success btn-sm mr-1" href="{% url 'cmux-approve' cmux.id %}">{% trans 'Approve' %}</a>
                {% endif %}
                {% if cmux.author == user.author or user.author.is_moderator %}
                <a class="btn btn-outline-secondary btn-sm mr-1"
                    href="{% url 'cmux-update' cmux.id %}">{% trans 'Update' %}</a>
                <a class="btn btn-outline-danger btn-sm mr-1"
                    href="{% url 'cmux-delete' cmux.id %}">{% trans 'Delete' %}</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% empty %}
<h3>{% trans 'There are no cmuxes.' %}</h3>
{% endfor %}
<div class="mt-2">
    {% if is_paginated %}
    {% if page_obj.has_previous %}
    <a class="btn btn-outline-info mb-4" href="?page=1">{% trans 'First' %}</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">{% trans 'Previous' %}</a>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
    {% if page_obj.number == num %}
    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
    <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">{% trans 'Next' %}</a>
    <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">{% trans 'Last' %}</a>
    {% endif %}
    {% endif %}
</div>
{% endblock %}

{% block sorting %}
<a class="btn btn-outline-info" href="{% url 'cmuxovik-newest' %}">{% trans 'Newest' %}</a>
<a class="btn btn-outline-success" href="{% url 'cmuxovik-best' %}">{% trans 'Best' %}</a>
{% endblock %}
{% block sidebar %}
<div id="sidebar">
    <div class="card shadow bg-white rounded">
        <div class="card-header">
            <div class="mr-auto p-3">
                <p class="card-text">{% trans 'Welcome!'%}</p>
            </div>
        </div>
        <div class="card-body">
            <p>
                Цмукс оказался не игрушкой
                <a href="https://storage.yandexcloud.net/cmuxovik-files/book/cmux.pdf" target="_blank">на одну
                    «книжулю»</a>.
                Он более живуч — это одновременно и отдельный жанр, и наша жизнь.
            </p>
            <p>
                Поэтому цмуксили, цмуксим и будем цмуксить! Обо всём: о личных переживаниях, о новостной и общественной
                повестке. И просто так.
            </p>
            <p>
                Никакой цензуры или политкорректности. Значение имеют только формы слов и их причудливые сочетания. И
                если у вас бомбит пукан — взлетайте!
            </p>
            <p>
                Этого и добиваемся.
            </p>
            <p>
                «Моим cmux'ам, как драгоценным винам,<br />
                Настанет свой черёд».
            </p>
        </div>
    </div>
    {% endblock %}