{% load static i18n fontawesome_5 %}

<!DOCTYPE html>
<html>

<head>
    {% fontawesome_5_static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block metatag %}
    <meta name="title" content="{% trans 'Cmuxovik' %}">
    <meta name="description" content="{% trans 'Cmuxovik — invent funny short verses!' %}">
    {% endblock %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css"
        href="https://storage.yandexcloud.net/cmuxovik-files/assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'cmuxovik/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'star-ratings/css/star-ratings.css'%}">
    <link rel="icon" type="image/png" sizes="32x32"
        href="https://storage.yandexcloud.net/cmuxovik-files/assets/img/favicon-32x32.png">

    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js'%}"></script>
    {% block title %}
    {% if title %}
    <title>{% trans "Cmuxovik" %} - {{ title }}</title>
    {% else %}
    <title>{% trans "Cmuxovik" %}</title>
    {% endif %}
    {% endblock %}
</head>

<body>
    <header class="site-header">
        <nav class="navbar navbar-dark bg-dark navbar-expand-md fixed-top">
            <div class="container">
                <a class="navbar-brand mr-4" id="navbar-brand" data-cy="navbar-brand"
                    href="{% url 'cmuxovik-home' %}">{% trans 'Cmuxovik' %}</a>
                <button class="navbar-toggler" id="navbar-toggler" data-cy="navbar-toggler" type="button"
                    data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <!-- Search -->
                        <form class="form-inline" action="{{ request.get_full_path }}" method="get">
                            <div class="input-group m-2">
                                <input class="form-control" id="search" data-cy="main-search" type="search"
                                    placeholder="{% trans 'Search' %}" name="search_text"
                                    value="{{ request.GET.search_text }}" aria-label="Search"
                                    aria-describedby="main-search-submit">
                                <div class="input-group-append">
                                    <input type="submit" value="{% trans 'Search' %}" class="btn btn-outline-secondary"
                                        id="main-search-submit" data-cy="main-search-submit" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="navbar-nav">
                        <a class="btn btn-success nav-item nav-link" id="new-cmux" data-cy="new-cmux"
                            href="{% url 'cmux-create' %}"><b>{% trans 'New cmux' %}</b></a>
                    </div>
                    <!-- Navbar Right Side -->
                    <div class="navbar-nav ml-auto">
                        <!-- TODO: fix language and uncomment -->
                        <!-- <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {% trans 'Language' %}
                            </a>
                            <ul class='dropdown-menu' role='menu'>
                                <li>
                                    <div class="dropdown-item">
                                        <form name="languageRu" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                                            <input name="next" type="hidden" value="{{ redirect_to }}" />
                                            <input name="language" type="hidden" value="ru" />
                                            <a href="javascript:document.languageRu.submit()"><img width='16' height='12' src="{% static 'cmuxovik/icons/russian.png' %}" alt='ru' /> Русский</a>
                                        </form>  
                                    </div>                    
                                </li>
                                <li>
                                    <div class="dropdown-item">
                                        <form name="languageEn" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                                            <input name="next" type="hidden" value="{{ redirect_to }}" />
                                            <input name="language" type="hidden" value="en" />
                                            <a href="javascript:document.languageEn.submit()"><img width='16' height='12' src="{% static 'cmuxovik/icons/english.png' %}" alt='en' /> English</a>
                                        </form> 
                                    </div>
                                </li>
                            </ul>
                        </li> -->
                        {% if user.is_authenticated %}
                        <li class="nav-item dropdown">

                            <a class="nav-link dropdown-toggle notification" href="#" id="action-dropdown"
                                data-cy="action-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                {% if user.author.is_moderator %}
                                {% if number_of_unapproved > 0 %}
                                <span class="dot" id="new-actions-dot" data-cy="new-actions-dot"></span>

                                {% endif %}
                                {% endif %}
                                <span>{% trans 'Actions' %}</span>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="action-dropdown">
                                <a class="dropdown-item" id="profile-link" data-cy="profile-link"
                                    href="{% url 'profile' %}">{% trans 'Profile' %}</a>
                                {% if user.author.is_moderator %}
                                {% if number_of_unapproved > 0 %}
                                <a class="dropdown-item" id="unapproved-cmuxes-link" data-cy="unapproved-cmuxes-link"
                                    href="{% url 'unapproved-cmuxes' %}">
                                    <span>{% trans 'Unapproved' %}</span>
                                    <span>({{ number_of_unapproved }})</span>
                                </a>
                                {% endif %}
                                {% endif %}
                                {% if user.is_superuser %}
                                <a class="dropdown-item" id="admin-link" data-cy="admin-link"
                                    href="{% url 'admin:index' %}">{% trans 'Admin' %}</a>
                                {% endif %}

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" id="logout-link" data-cy="logout-link"
                                    href="{% url 'logout' %}">{% trans 'Logout' %}</a>
                            </div>
                        </li>
                        {% else %}
                        <a class="nav-item nav-link" id="login-link" data-cy="login-link"
                            href="{% url 'login' %}">{% trans 'Login' %}</a>
                        <a class="nav-item nav-link" id="register-link" data-cy="register-link"
                            href="{% url 'register' %}">{% trans 'Register' %}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% block content %}{% endblock %}
            </div>
            <div class="col-md-4">
                {% block sorting %}
                {% endblock %}
                {% block sidebar %}
                {% endblock %}
            </div>
        </div>
    </main>

    {% block footer %}{% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript"
        src="https://storage.yandexcloud.net/cmuxovik-files/assets/js/jquery-3.2.1.slim.min.js"></script>
    <script type="text/javascript"
        src="https://storage.yandexcloud.net/cmuxovik-files/assets/js/popper.min.js"></script>
    <script type="text/javascript"
        src="https://storage.yandexcloud.net/cmuxovik-files/assets/js/bootstrap.min.js"></script>
    <!-- For copying cmuxes to clipboard -->
    <script type="text/javascript" src="{% static 'cmuxovik/js/clipboard.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'cmuxovik/js/copy_cmux_link.js' %}"></script>
    {% block scripts %}{% endblock %}
</body>

</html>