{% extends 'cmuxovik/base.html' %}
{% load i18n %}
{% block content %}
<div class="content-section">
    <form method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <h3>{% trans 'Are you sure you want to delete the cmux' %} <br />"{{ object.text }}"?</h3>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-danger" id="submit" type="submit">{% trans 'Yes, delete' %}</button>
            <a class="btn btn-outline-secondary" id="cancel" href="{% url 'cmuxovik-home' %}">{% trans 'Cancel' %}</a>
        </div>
    </form>
</div>
{% endblock %}