{% extends 'cmuxovik/base.html' %}
{% load ratings i18n %}

{% block title %}
{% if title %}
<title>{% trans "Cmuxovik" %} - {{ title }}</title>
{% else %}
<title>{% trans "Cmuxovik" %}</title>
{% endif %}
{% endblock %}

{% block content %}

{% for cmux in cmuxes %}
{% include 'cmuxovik/cmux.html' %}
{% empty %}
<h3>{% trans 'There are no cmuxes.' %}</h3>
{% endfor %}

{% include 'cmuxovik/pagination.html' %}

{% endblock %}

{% block sorting %}
<a class="btn btn-outline-info" id="newest-cmuxes" href="{% url 'cmuxovik-newest' %}">{% trans 'Newest' %}</a>
<a class="btn btn-outline-success" id="best-cmuxes" href="{% url 'cmuxovik-best' %}">{% trans 'Best' %}</a>
<a class="btn btn-outline-danger" id="random-cmuxes" href="{% url 'cmuxovik-random' %}">{% trans 'Random' %}</a>
{% endblock %}

{% block sidebar %}
<div id="sidebar">
    <div class="card shadow bg-white rounded">
        <div class="card-header">
            <div class="mr-auto p-3">
                <p class="card-text" id="welcome-header">{% trans 'Welcome!'%}</p>
            </div>
        </div>
        <div class="card-body">
            <p>
                Цмукс оказался не игрушкой
                <a href="https://storage.yandexcloud.net/cmuxovik-files/book/cmux.pdf" target="_blank">на одну
                    «книжулю»</a>.
                Он более живуч — это одновременно и отдельный жанр, и наша жизнь.
            </p>
            <p>
                Поэтому цмуксили, цмуксим и будем цмуксить! Обо всём: о личных переживаниях, о новостной и общественной
                повестке. И просто так.
            </p>
            <p>
                Никакой цензуры или политкорректности. Значение имеют только формы слов и их причудливые сочетания. И
                если у вас бомбит пукан — взлетайте! 🔥
            </p>
            <p>
                Этого и добиваемся.
            </p>
            <p>
                «Моим cmux'ам, как драгоценным винам,<br />
                Настанет свой черёд».
            </p>
        </div>
    </div>
</div>
{% endblock %}